<!DOCTYPE html>
<htmt>

    <head>
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>Document</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="index.css">
    </head>

    <body>
        <header>
            <img src="./img/tre (2).jpg" alt="loadding 99 %">
            <h1>@AnhDaoHoang</h1>
        </header>
        <ul>
            <li>
                <a href="https://www.facebook.com/daohoanganh111">
                    <img src="./img/iconFace.png" alt="">
                    Facebook
                </a>
            </li>
            <li>
                <a href="https://zalo.me/0784921048">
                    <img src="./img/iconZalo.png" alt="">
                    Zalo
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/dao-anh-85bb98244/">
                    <img src="./img/iconEmail.png" alt="">
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://github.com/Dao-Anh10">
                    <img src="./img/iconGit.png" alt="">
                    GitHub
                </a>
            </li>
        </ul>

        <!-- Messenger Plugin chat Code -->
        <div id="fb-root"></div>

        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>

        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "103865035198130");
            chatbox.setAttribute("attribution", "biz_inbox");
        </script>

        <!-- Your SDK code -->
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v14.0'
                }); 
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

    </body>
</html>